<div class="row">
  <div class="col-md-12">
  	<%= simple_form_for(@message) do |f| %>
	    <div class="panel panel-default">
	      <div class="panel-heading">
	        <div class="panel-title">
          	<h3>Enviar Mensaje Masivo</h3>
	        </div>
       	</div>
				<div class="panel-body">
			  	<%= f.error_notification %>
			  	<%= f.hidden_field :user_id , :value=> current_user.id%>
				  <div class="form-group">
				  	<%= f.label 'Mensaje' %><br>
				    <%= f.text_area :message, class: "form-control" %>
				  </div>
				  <!-- <div class="form-group">
				  	<%= f.label 'Profundidad' %>
				    <%= f.text_field :deep, class: "form-control" %>
				  </div> -->
				</div>
				<div class="panel-footer">
        	<%= f.submit 'Guardar Mensaje', :class => "btn btn-primary" %>
        	<a href="#" class="btn btn-primary" id="send_twilio">Enviar SMS Masivo</a>
        	<a href="#" class="btn btn-primary">Enviar Correo Masivo</a>
      	</div>
			<% end %>
		</div>
		<!-- <table> -->
			<% #render template: "militants/index" %>
		<!-- </table>  -->
		<table class="table table-hover table-bordered table-striped" id="militants_table">
		  <thead>
		    <tr>
		      <th>RNM</th>
		      <th>Nombre</th>
		      <th>Código Postal</th>
		      <th># Celular</th>
		      <th>Email</th>
		      <th>Grupo</th>
		      <th>Sección</th>
		      <th></th>
		    </tr>
		  </thead>

		  <tbody>
		    <tr>
		    	<td>#</td>
		      <td>Eduardo Williams Hinojosa</td>
		      <td>#</td>
		      <td class="cellphone">8180291458</td>
		      <td>ewilliams@tegik.com</td>
		      <td>#</td>
		      <td ></td>
		    </tr>
		    <tr>
		    	<td>#</td>
		      <td>Jesús Lerma Sánchez</td>
		      <td>#</td>
		      <td class="cellphone">8341444418</td>
		      <td>jlerma@tegik.com</td>
		      <td>#</td>
		      <td ></td>
		    </tr>
		    <tr>
		    	<td>#</td>
		      <td>Miguel Ferringo</td>
		      <td>#</td>
		      <td class="cellphone">8110775378</td>
		      <td>ferrigno_buendia@hotmail.com</td>
		      <td>#</td>
		      <td ></td>
		    </tr>
		    <tr>
		    	<td>#</td>
		      <td>Juanjo José Rdz</td>
		      <td>#</td>
		      <td class="cellphone">8116361257</td>
		      <td>jlerma@tegik.com</td>
		      <td>#</td>
		      <td ></td>
		    </tr>
		  </tbody>
	</table>
	</div>
</div>