<%= simple_form_for(@polling) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
