<h2>Grupos</h2>
<hr />

<table class="table table-hover table-triped table-bordered">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Candidato</th>
      <th colspan="2">
        <%= link_to new_group_path, :class=>"btn btn-success btn-block" do%>
        <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
        <%end%>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.candidate.name %></td>
        <td class="center">
            <%= link_to edit_group_path(group), :class=> 'table-action' do%><span class="glyphicon glyphicon-pencil"></span><%end%>
        </td>
        <td class="center">
        	<%= link_to group, method: :delete, data: { confirm: '¿Está seguro que desea eliminar?' } , :class=> 'table-action' do%><span class="glyphicon glyphicon-remove"></span><% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
