<%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label 'Fecha de Nacimiento' %><br>
        <%= f.date_select :bird, class: "form-control", :order => [:day, :month, :year], :start_year => 1950 %>
      </div>
      <div class="form-group">
        <%= f.label 'Apellido Paterno' %><br>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'Apellido Materno' %><br>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'Nombre' %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label 'Telefono' %><br>
        <%= f.text_field :phone, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'Celular' %><br>
        <%= f.text_field :cellphone, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'Correo Electrónico' %><br>
        <%= f.text_field :email, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label 'Fecha de Registro' %><br>
        <%= f.date_select :register_date,  :html => { :class => 'form-control' } %>
      </div>
      <div class="form-group">
        <%= f.label 'Edad' %><br>
        <%= f.text_field :age, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'RNM' %><br>
        <%= f.text_field :rnm, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'Género' %><br>
        <%= f.collection_radio_buttons :gender, [['m', 'Hombre'] ,['h', 'Mujer']], :first, :last %>
      </div>
      <div class="form-group">
        <%= f.label 'Nivel Jerárquico:' %>
        <% if current_user.admin? %>
          <%= f.input_field :role, collection: User::ROLES_ADMIN, class: "form-control", id: "role_select_form"%>
        <% end %>
        <% if current_user.coordinador? %>
          <%= f.input_field :role, collection: User::ROLES_COORDINADOR, :label => "Rol", class: "form-control"%>
        <% end %>
        <% if current_user.enlace? %>
          <%= f.input_field :role, collection: User::ROLES_ENLACE, :label => "Rol", class: "form-control"%>
        <% end %>
        <% if current_user.subenlace? %>
          <%= f.input_field :role, collection: User::ROLES_SUBENLACE, :label => "Rol", class: "form-control"%>
        <% end %>
        <% if current_user.grupo? %>
          <%= f.input :role, collection: User::ROLES_GRUPO, :label => "Rol", class: "form-control"%>
        <% end %>
      </div>
      <div class="form-group">
      	<%= f.label 'Reporta A:' %><br>
        <select id="parent-select" name="user[parent]" class="form-control"></select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label 'Sección' %><br>
        <%= f.text_field :section, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'Sector' %><br>
        <%= f.text_field :sector , class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label 'Código Postal' %><br>
        <%= f.text_field :cp, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'Calle y Número' %><br>
        <%= f.text_field :street_number, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'Colonia' %><br>
        <%= f.text_field :neighborhood, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'Ciudad' %><br>
        <%= f.text_field :city, class: "form-control" %>
      </div>
    </div>
    	<%= f.hidden_field :password, :value => "12345678"%>
    	<%= f.hidden_field :password_confirmation, :value => "12345678"%>
  </div>
  <div class="actions">
    <hr>
    <%= f.submit 'Agregar', :class=>"btn btn-primary" %>
    <%= link_to 'Cancelar', :back, :class=>"btn btn-danger" %>
  </div>
<% end %>
