<%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> 
        prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label 'Imagen' %><br>
        <%= f.file_field :image, class: "form-control" %>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.label 'Nombre' %><br>
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label 'Paterno' %><br>
            <%= f.text_field :first_name, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label 'Materno' %><br>
            <%= f.text_field :last_name, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= f.label 'Fecha de Nacimiento' %><br>
        <input type="text" id="user_bird" 
          class="form-control datepicker" name="user[bird]" />
      </div>
      <div class="form-group">
        <%= f.label 'Edad' %><br>
        <%= f.text_field :age, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'Sexo' %><br>
        <%= f.collection_radio_buttons :gender, [['H', 'Hombre'] ,['M', 'Mujer']],
         :first, :last %>
      </div>
      <div class="form-group">
        <%= f.label 'Correo Electrónico' %><br>
        <%= f.text_field :email, class: "form-control" %>
      </div>
      <% if current_user.admin? || current_user.coordinador? %>
        <div class="form-group">
          <div class="checkbox">
            <%= f.input(:enabled, class: "form-control", 
            :label => '¿Es usuario del sistema?') %>

          </div>
        </div>
        <div class="form-group">
          <%= f.label 'Contraseña' %><br>
          <%= f.password_field :password, class: "form-control hide" %>
        </div>
        <div class="form-group">
          <%= f.label 'Confirmar Contraseña' %><br>
          <%= f.password_field :password_confirmation, class: "form-control hide" %>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label 'Telefono' %><br>
            <%= f.number_field :phone, class: "form-control only-numbers"%>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label 'Celular' %><br>
            <%= f.number_field :cellphone, class: "form-control only-numbers"%>
          </div>
        </div>
      </div>      
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label 'RNM' %><br>
        <%= f.text_field :rnm, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'Clave del IFE' %><br>
        <%= f.text_field :ife_key, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'Fecha de Registro' %><br>
        <input type="text" id="user_register_date" 
          class="form-control datepicker" name="user[register_date]" />
      </div>
      
      <div class="form-group">
        <%= f.label 'Nivel Jerárquico:' %>
        <% if current_user.admin? %>
          <%= f.input_field :role, collection: User::ROLES_ADMIN, 
          class: "form-control", id: "role_select_form", required: true%>
        <% end %>
        <% if current_user.coordinador? %>
          <%= f.input_field :role, collection: User::ROLES_COORDINADOR, 
          :label => "Rol", class: "form-control", required: true%>
        <% end %>
        <% if current_user.enlace? %>
          <%= f.input_field :role, collection: User::ROLES_ENLACE, 
          :label => "Rol", class: "form-control", required: true%>
        <% end %>
        <% if current_user.subenlace? %>
          <%= f.input_field :role, collection: User::ROLES_SUBENLACE, 
          :label => "Rol", class: "form-control", required: true%>
        <% end %>
        <% if current_user.grupo? %>
          <%= f.input :role, collection: User::ROLES_GRUPO, :label => "Rol", 
          class: "form-control", required: true%>
        <% end %>
      </div>
      
        <div class="form-group" id="select_subenlace">
          <%= f.label 'Subenlace:' %><br>
          <%= f.select :subenlace_id, options_for_select(
            [['', '0']].concat(
           @subenlaces.map{|c|[c.full_name, c.id]}), @user.subenlace_id), include_blank: false, class: 'form-control'%>
        </div>
      
      
        <div class="form-group" id="select_enlace">
          <%= f.label 'Enlace:' %><br>
          <%= f.select :enlace_id,options_for_select(
            [['', '0']].concat(
           @enlaces.map{|c|[c.full_name, c.id]}), @user.enlace_id), label_html: { class: 'my_class' }, include_blank: false%>
        </div>
      
      
        <div class="form-group" id="select_coordinador">
          <%= f.label 'Coordinador:' %><br>
          <%= f.select :coordinador_id, options_for_select(
            [['', '0']].concat(
           @coordinadores.map{|c|[c.full_name, c.id]}), @user.coordinador_id), include_blank: false, class: 'form-control'%>
        </div>
      
      <div class="form-group" id="group">
        <%= f.label 'Grupo:' %><br>

        <%= f.select :group_id, options_for_select(
            [['', '0']].concat(
           @groups.map{|c|[c.name, c.id]}), @user.group_id), include_blank: false, class: 'form-control'%>

      </div>
      <div class="form-group">
        <%= f.label 'Ingresa el link de facebook' %><br>
        <%= f.text_field :fb, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'Ingresa el link de twitter' %><br>
        <%= f.text_field :tw, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label 'Municipio' %><br>
        <%= f.input_field :municipality_id, collection: @municipalities,
          class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'DtoFed' %><br>
        <%= f.text_field :dto_fed, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'DtoLoc' %><br>
        <%= f.text_field :dto_loc, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'Sección' %><br>
        <%= f.text_field :section, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'Sector' %><br>
        <%= f.text_field :sector , class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label 'Código Postal' %><br>
        <%= f.text_field :cp, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'Calle' %><br>
        <%= f.text_field :street_number, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'Número Exterior' %><br>
        <%= f.text_field :outside_number, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'Número Interior' %><br>
        <%= f.text_field :internal_number, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label 'Colonia' %><br>
        <%= f.text_field :neighborhood, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="row">
    <%= f.simple_fields_for :documents do |builder| %>
      <div class="col-md-4">
      <div class="well">
        <div class="form-group">
          <%= builder.label 'Nombre' %><br>
          <%= builder.text_field :description, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= builder.label 'Archivo' %><br>
          <%= builder.file_field :doc, class: "form-control" %>
        </div>
      </div>
      </div>    
    <% end %>
  </div>
  <div class="actions">
    <hr>
    <%= f.submit 'Guardar', :class=>"btn btn-primary" %>
    <%= link_to 'Cancelar', :back, :class=>"btn btn-danger" %>
  </div>
<% end %>
