<h2><% if !@canedit %>Seleccionar<%end%></h2>
<hr />
<br />
<table class="table table-hover table-bordered table-striped" id="users_table">
  <thead>
    <tr>
      <th>
        <input type="text" placeholder="RNM" class="form-control search" name="rnm"/>
      </th>
      <th>
        <input type="text" placeholder="Nombre" class="form-control search" name="name"/>
      </th>
      <th>
        <input type="text" placeholder="CP" class="form-control search"/>
      </th>
      <th>
        <input type="text" placeholder="Cel" class="form-control search"/>
      </th>
      <th>
        <input type="text" placeholder="Correo" class="form-control search"
        name="email"/>
      </th>
      <th>
        <input type="text" placeholder="Seccion" class="form-control search"/>
      </th>
      <th>
        <input type="text" placeholder="Edad" class="form-control search"/>
      </th>
      <th>
        <input type="text" placeholder="Sexo" class="form-control search"/>
      </th>
      <th>
        <input type="text" placeholder="Nivel" class="form-control search"/>
      </th>
      <th>
        <input type="text" placeholder="Reporta a" class="form-control search"/>
      </th>

      <th>
        <input type="text" placeholder="Colonia" class="form-control search"/>
      </th>
      <th colspan="2">
        <%= link_to new_user_path, :class=>"btn btn-success btn-block" do%>
        <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
      <%end%>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
      	<td><%= user.rnm %></td>
        <td><%= user.first_name %> <%= user.last_name %> <%= user.name %></td>
        <td><%= user.cp %></td>
        <td class="cellphone"><%= user.cellphone %></td>
        <td><%= user.email %></td>
        <td><%= user.section %></td>
        <td><%= user.age %></td>
        <td><%= user.gender %></td>
        <td>
          <%= user.role %>
        </td>
        <td><%= user.parent != 0 ? User.find(user.parent).name : 'Nadie' %></td>
        <td><%= user.neighborhood %></td>
        <td class="center">
          <% if @canedit %>
            <%= link_to user_path user, :class=> 'table-action' do%><span class="glyphicon glyphicon-eye-open"></span><%end%>
          <% end %>
        </td>
        <% if @canedit %>
          <td class="center">
          	<%= link_to "/users/"+user.id.to_s, method: :delete, data: { confirm: '¿Está seguro que desea eliminar?' } , :class=> 'table-action' do%><span class="glyphicon glyphicon-remove"></span><% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />
<div class="col-md-12 center">
	<ul class="pagination">
	  <li class="disabled"><a href="#">&laquo;</a></li>
	  <li class="active"><a href="#">1</a></li>
	  <li><a href="#">2</a></li>
	  <li><a href="#">3</a></li>
	  <li><a href="#">4</a></li>
	  <li><a href="#">5</a></li>
	  <li><a href="#">&raquo;</a></li>
	</ul>
</div>	