<h2><% if !@canedit %>Seleccionar<%end%></h2>
<hr />
<div class="row">
	<div class="col-md-4">
		    <input type="text" class="form-control" placeholder="Buscar por Nombre">
	</div>
	<div class="col-md-3">
		<select class="form-control" id="role-select">
			<option value="" disabled selected>--Seleccione un Rol--</option>
			<option value="jugador">Todos</option>
			<option value="subenlace">Subenlace</option>
			<option value="enlace">Enlace</option>
			<option value="coordinador">Coordinador</option>
			<option value="grupo">Grupo</option>
			<option value="candidato">Candidato</option>
		</select>
	</div>
	<div class="col-md-3">
		<select class="form-control"><option>--Seleccione Sección--</option><option>Masculino</option><option>Femenino</option></select>
	</div>
  <%if @canedit%>
  	<div class="col-md-2">
  		<%= link_to new_user_path, :class=>"btn btn-success btn-block" do%>
  			<span class="glyphicon glyphicon-plus-sign"></span> Nuevo
  		<%end%>
  	</div>
  <%end%>
</div>
<br />
<table class="table table-hover table-bordered table-striped" id="users_table">
  <thead>
    <tr>
      <th>
        RNM
      </th>
      <th>
        Nombre
      </th>
      <th>
        CP
      </th>
      <th>
        Celular
      </th>
      <th>
        Email
      </th>
      <th>
        Sección
      </th>
      <th>
        Edad
      </th>
      <th>
        Sexo
      </th>
      <th>
        Reporta a
      </th>
      <th>
        Colonia
      </th>
      <th></th>
      <% if @canedit %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
      	<td><%= user.rnm %></td>
        <td><%= user.first_name %> <%= user.last_name %> <%= user.name %></td>
        <td><%= user.cp %></td>
        <td class="cellphone"><%= user.cellphone %></td>
        <td><%= user.email %></td>
        <td><%= user.section %></td>
        <td><%= user.age %></td>
        <td><%= user.gender %></td>
        <td><%= user.parent != 0 ? User.find(user.parent).name : 'Nadie' %></td>
        <td><%= user.neighborhood %></td>
        <td class="center">
          <% if @canedit %>
            <%= link_to user_path user, :class=> 'table-action' do%><span class="glyphicon glyphicon-eye-open"></span><%end%>
          <% end %>
        </td>
        <% if @canedit %>
          <td class="center">
          	<%= link_to "/users/"+user.id.to_s, method: :delete, data: { confirm: '¿Está seguro que desea eliminar?' } , :class=> 'table-action' do%><span class="glyphicon glyphicon-remove"></span><% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />
<div class="col-md-12 center">
	<ul class="pagination">
	  <li class="disabled"><a href="#">&laquo;</a></li>
	  <li class="active"><a href="#">1</a></li>
	  <li><a href="#">2</a></li>
	  <li><a href="#">3</a></li>
	  <li><a href="#">4</a></li>
	  <li><a href="#">5</a></li>
	  <li><a href="#">&raquo;</a></li>
	</ul>
</div>	