<%= link_to new_user_path, :class=>"btn btn-success pull-right" do%>
  <span class="glyphicon glyphicon-plus-sign"></span> 
  Nuevo Jugador
<%end%>

<%= link_to downloads_path+"?role=#{params[:role]}", 
  :class=>"btn btn-info pull-right" do %>
    <span class="glyphicon glyphicon-download-alt"></span> 
    Descargar
<% end %>

<h2><%= @titles[params[:role]] %></h2>
<hr />
<!--<table class="table table-hover table-bordered table-striped" id="users_table">-->

<div class="table-responsive">
<table class="table table-bordered table-striped table-hover" id="users_table">  
  <tdead>
    <tr>
      <th>
        <input type="text" placeholder="name" class="form-control search" 
          name="name"/>
      </th>
      <th>
        <input type="text" placeholder="first_name" class="form-control search" 
          name="first_name"/>
      </th>
      <th>
        <input type="text" placeholder="last_name" class="form-control search" 
          name="last_name"/>
      </th>
      <th>
        <input type="text" placeholder="gender" class="form-control search" 
          name="gender"/>
      </th>
      <th>
        <input type="text" placeholder="age" class="form-control search" 
          name="age"/>
      </th>
      <th>
        <input type="text" placeholder="section" class="form-control search" 
          name="section"/>
      </th>
      <th>
        <input type="text" placeholder="city" class="form-control search" 
          name="city"/>
      </th>
      <th colspan="1">
        <input type="text" placeholder="neighborhood" 
          class="form-control search" name="neighborhood"/>
      </th>
      <th colspan="3"></th>
    </tr>
    <tr>
      <th >
        <p class="small">Nombre</p>
      </th>
      <th >
        <p class="small">Paterno</p>
      </th>
      <th >
        <p class="small">Materno</p>
      </th>
      <th>
        <p class="small">Sexo</p>
      </th>
      <th>
        <p class="small">Edad</p>
      </th>
      <th>
        <p class="small">Sección</p>
      </th>
      <th>
        <p class="small">Municipio</p>
      </th>
      <th>
        <p class="small">Colonia</p>
      </th>
      <th>
        <p class="small">Reporta a</p>
      </th>
      <th colspan="2">
      </th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td >
          <p class="small"><%=user.name%></p>
        </td>
        <td >
          <p class="small"><%= user.first_name%></p>
        </td>
        <td >
          <p class="small"><%= user.last_name %></p>
        </td>
        <td>
          <p class="small"><%= user.gender %></p>
        </td>
        <td>
          <p class="small"><%= user.age %></p>
        </td>
        <td>
          <p class="small"><%= user.section.to_i %></p>
        </td>
        <td>
          <p class="small"><%= user.city %></p>
        </td>
        <td>
          <p class="small"><%= user.neighborhood %></p>
        </td>
        <td>
          <p class="small">
            <%= user.parent != 0 ? User.find(user.parent).full_name : "Sin Asignar" %>
          </p>
        </td>
        <td class="center">
            <% if @canedit %>
              <%= link_to (user_path user)+"?role=#{params[:role]}", 
                :class=> 'table-action' do%>
                  <span class="glyphicon glyphicon-eye-open"></span>
              <%end%>
            <% end %>
          </td>
          <% if @canedit %>
            <td class="center">
              <%= link_to "/users/"+user.id.to_s, metdod: :delete, data: { 
                  confirm: '¿Está seguro que desea eliminar?' } , 
                :class=> 'table-action' do%>
                <span class="glyphicon glyphicon-remove"></span>
              <% end %>
            </td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<hr />
<div class="col-md-12 center">
	<ul class="pagination">
    <% if @users_t.count >= 10 %>
      <li class="page_number active" data-num="0"><a>Primera</a></li>
      <% pages = (@users_t.count / User.per_page).round%>
      <% 10.times.each do |i|%>
    	  <li class="page_number" data-num="<%= i %>"><a> <%=i+1 %></a></li>
      <% end %>
      <li class="page_number" data-num="<%= pages -1 %>"><a >Última</a></li>
    <% else %>
      <% @users_t.count.times.each do |i|%>
        <li class="page_number" data-num="<%= i %>"><a> <%=i+1 %></a></li>
      <% end %>
    <% end %>
	</ul>
  <p class="page_showing">
    (
    <strong id="total_result">
      <%= @users_t.count %> 
    </strong>
    en total)</p>
</div>	