<%= link_to new_user_path, :class=>"btn btn-success pull-right" do%>
  <span class="glyphicon glyphicon-plus-sign"></span> 
  Nuevo Jugador
<%end%>

<!--
<%= link_to downloads_path+"?role=#{params[:role]}", 
  :class=>"btn btn-info pull-right" do %>
    <span class="glyphicon glyphicon-download-alt"></span> 
    Descargar
<% end %>
-->
<h2><%= @titles[params[:role]] %></h2>
<hr />
<!--<table class="table table-hover table-bordered table-striped" id="users_table">-->

<div class="table-responsive">
<table class="table table-bordered table-striped table-hover" id="users_table">  
  <tdead>
    <tr>
      <th>
        <input type="text" placeholder="Nombre" class="form-control search" 
          name="name"/>
      </th>
      <th>
        <input type="text" placeholder="Primer apellido" class="form-control search" 
          name="first_name"/>
      </th>
      <th>
        <input type="text" placeholder="Segundo apellido" class="form-control search" 
          name="last_name"/>
      </th>
      <th>
        <input type="text" placeholder="Género" class="form-control search" 
          name="gender"/>
      </th>
      <th>
        <input type="text" placeholder="Edad" class="form-control search" 
          name="age"/>
      </th>
      <th>
        <input type="text" placeholder="Seccion" class="form-control search" 
          name="section"/>
      </th>
      <th>
        <!--<input type="text" placeholder="city" class="form-control search" 
          name="city"/>-->
        <select class="form-control search filtro_dropdown municipality" id="select_municipality2" 
        name="municipality_id">
        <option value="-1"> </option>
        <option value="0"> Otros </option>
        <% @municipalities.each do |mun| %>
          <option value="<%= mun.id %>"> <%= mun.name %></option>
        <% end %>
      </select> 
      </th>
      <th colspan="1">
        <input type="text" placeholder="Colonia" 
          class="form-control search" name="neighborhood"/>
      </th>
      <%if params[:role]!="subenlace" && params[:role] != "enlace" && params[:role] != "coordinador"%>
        <th>
          <select class="form-control filtro_dropdown select_search search"  style="width:100%" 
          name="sub_enlace_id">
            <option value="0"></option>
            <%@subenlace.each do |sbenlace|%>
              <option value="<%= sbenlace.id %>"> 
                <%= sbenlace.full_name %>
              </option>
            <%end%>
          </select>
        </th>
      <%end%>
      <%if params[:role] != "enlace" && params[:role] != "coordinador"%>
        <th>
          <select class="form-control select_search filtro_dropdown search2"  style="width:100%" 
          name="enlace_id">
            <option value="0"></option>
            <%@enlace.each do |enlace|%>
              <option value="<%= enlace.id %>"> 
                <%= enlace.full_name %>
              </option>
            <%end%>
          </select>
        </th>
      <%end%>
      <%if params[:role]!="coordinador"%>
        <th>

        <select class="form-control select_search filtro_dropdown search2"  style="width:100%" 
          name="coordinador_id">
            <option value="0"></option>
            <% @coordinador.each do |coor| %>
              <option value="<%= coor.id %>"> 
                <%= coor.full_name %>
              </option>
            <%end%>
          </select>
        </th>
      <%end%>
      
    </tr>
    <tr>
      <th >
        <p class="small">Nombre</p>
      </th>
      <th >
        <p class="small">Paterno</p>
      </th>
      <th >
        <p class="small">Materno</p>
      </th>
      <th>
        <p class="small">Sexo</p>
      </th>
      <th>
        <p class="small">Edad</p>
      </th>
      <th>
        <p class="small">Sección</p>
      </th>
      <th>
        <p class="small">Municipio</p>
      </th>
      <th>
        <p class="small">Colonia</p>
      </th>
      <%if params[:role]!="subenlace" && params[:role] != "enlace" && params[:role] != "coordinador"%>
        <th>
          <p class="small">Subenlace</p>
        </th>
      <%end%>
      <%if params[:role] != "enlace" && params[:role] != "coordinador"%>
        <th>
          <p class="small">Enlace</p>
        </th>
      <%end%>
      <%if params[:role]!="coordinador"%>
        <th>
          <p class="small">Coordinador</p>
        </th>
      <%end%>
      
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td id = "<%=user.id%>">
          <p class="small"><%= link_to  user.name,(user_path user)+"?role=#{params[:role]}"%></p>
        </td>
        <td >
          <p class="small"><%= link_to  user.first_name,(user_path user)+"?role=#{params[:role]}"%></p>
        </td>
        <td >
          <p class="small"><%= link_to  user.last_name,(user_path user)+"?role=#{params[:role]}"%></p>
        </td>
        <td>
          <p class="small"><%= user.gender %></p>
        </td>
        <td>
          <p class="small"><%= user.age %></p>
        </td>
        <td>
          <p class="small"><%= user.section.to_i %></p>
        </td>
        <td>
          <p class="small"><%= user.city %></p>
        </td>
        <td>
          <p class="small"><%= user.neighborhood %></p>
        </td>
        <%if params[:role]!="subenlace" && params[:role] != "enlace" && params[:role] != "coordinador"%>
          <td id="td-subenlace">
            <p class="small">
              <select class="select_class subenlace"  style="width:100%" data-catid="1">
                <option value="vacio" data-user_id = "<%=user.id%>" data-tipo = "1"></option>
                <%@subenlace.each do |a|%>
                  <option value="<%=a.id%>" 
                    <%if user.subenlace_id == a.id%> selected <%end%> 
                    data-user_id = "<%=user.id%>" data-tipo = "1">
                    <%=a.full_name%>
                  </option>
                <%end%>
              </select>
            </p>
          </td>
        <%end%>
        <%if params[:role]!="enlace" && params[:role] != "coordinador"%>
          <td id="td-enlace">
            <p class="small">
              <select class="select_class enlace"  style="width:100%" data-catid="1">
                <option value="vacio" data-user_id = "<%=user.id%>" data-tipo = "2"></option>
                <%@enlace.each do |a|%>
                  <option value="<%=a.id%>" <%if user.enlace_id == a.id%> selected <%end%> 
                    data-user_id = "<%=user.id%>" data-tipo = "2">
                    <%=a.full_name%>
                  </option>
                <%end%>
              </select>
            </p>
          </td>
        <%end%>
        <%if params[:role]!="coordinador"%>
          <td id="td-coordinador">
            <p class="small">
              <select class="select_class coordinador"  style="width:100%" data-catid="1">
                <option value="vacio" data-user_id = "<%=user.id%>" data-tipo = "3"></option>
                <%@coordinador.each do |a|%>
                  <option value="<%=a.id%>" 
                    <%if user.coordinador_id == a.id%> selected <%end%> 
                    data-user_id = "<%=user.id%>" data-tipo = "3">
                    <%=a.full_name%>
                  </option>
                <%end%>
              </select>
            </p>
          </td>
        <%end%>
        
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<hr />
<div class="col-md-12 center">
	<ul class="pagination">
    <% if @users_t.count >= 10 %>
      <li class="page_number active" data-num="0"><a>Primera</a></li>
      <% pages = (@users_t.count / User.per_page).round%>
      <% 10.times.each do |i|%>
    	  <li class="page_number" data-num="<%= i %>"><a> <%=i+1 %></a></li>
      <% end %>
      <li class="page_number" data-num="<%= pages -1 %>"><a >Última</a></li>
    <% else %>
      <% @users_t.count.times.each do |i|%>
        <li class="page_number" data-num="<%= i %>"><a> <%=i+1 %></a></li>
      <% end %>
    <% end %>
	</ul>
  <p class="page_showing">
    (
    <strong id="total_result">
      <%= @users_t.count %> 
    </strong>
    en total)</p>
</div>	