<h2><%= @titles[params[:role]] %></h2>
<hr />
<br />
<table class="table table-hover table-bordered table-striped" id="users_table">
  <thead>
    <tr>
      <th>
        <input type="text" placeholder="RNM" class="form-control search" name="rnm"/>
      </th>
      <th colspan="1">
        <input type="text" placeholder="Nombre" class="form-control search" name="name"/>
      </th>
      <th colspan="1">
        <input type="text" placeholder="Paterno" class="form-control search" name="first_name"/>
      </th>
      <th colspan="1">
        <input type="text" placeholder="Materno" class="form-control search" name="last_name"/>
      </th>
      <th>
        <input type="text" placeholder="Cel" class="form-control search" name="cellphone"/>
      </th>
      <th colspan="2">
        <input type="text" placeholder="Correo" class="form-control search"
        name="email"/>
      </th>
      <th>
        
      </th>
      <th>
        <input type="text" placeholder="Sexo" class="form-control search" name="gender"/>
      </th>
      <th>
        <input type="text" placeholder="Nivel" class="form-control search" name="role"/>
      </th>
      <th>
        
      </th>
      <th>
        
      </th>
      <th colspan="2">
        <%= link_to new_user_path, :class=>"btn btn-success btn-block" do%>
        <span class="glyphicon glyphicon-plus-sign"></span> Nuevo
      <%end%>
      </th>
    </tr>
    <tr>
      <th>
        <p class="small">RNM</p>
      </th>
      <th >
        <p class="small">Nombre</p>
      </th>
      <th >
        <p class="small">Apellido Paterno</p>
      </th>
      <th >
        <p class="small">Apellido Materno</p>
      </th>
      <th >
        <p class="small">Celular</p>
      </th>
      <th colspan="2">
        <p class="small">Correo</p>
      </th>
      <th>
        <p class="small">Edad</p>
      </th>
      <th>
        <p class="small">Sexo</p>
      </th>
      <th>
        <p class="small">Nivel</p>
      </th>
      <th>
        <p class="small">Reporta a</p>
      </th>
      <th>
        <p class="small">Sección</p>
      </th>
      <th colspan="2">
      </th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
      	<td><%= user.rnm %></td>
        <td ><%= user.name %></td>
        <td ><%= user.first_name %></td>
        <td ><%= user.last_name %></td>
        <td class="cellphone"><%= user.cellphone %></td>
        <td colspan="2"><%= user.email %></td>
        <td><%= user.age %></td>
        <td><%= user.gender %></td>
        <td>
          <%= user.role %>
        </td>
        <td>
          <%= user.parent != 0 ? User.find(user.parent).name : 'Nadie' %>
        </td>
        <td><%= user.section %></td>
        <td class="center">
          <% if @canedit %>
            <%= link_to (user_path user)+"?role=#{params[:role]}", :class=> 'table-action' do%><span class="glyphicon glyphicon-eye-open"></span><%end%>
          <% end %>
        </td>
        <% if @canedit %>
          <td class="center">
          	<%= link_to "/users/"+user.id.to_s, method: :delete, data: { confirm: '¿Está seguro que desea eliminar?' } , :class=> 'table-action' do%><span class="glyphicon glyphicon-remove"></span><% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<hr />
<div class="col-md-12 center">
	<ul class="pagination">
    <% if @users_t.count >= 10 %>
      <li class="page_number" data-num="0"><a>Primera</a></li>
      <% pages = (@users_t.count / User.per_page).round%>
      <% 10.times.each do |i|%>
    	  <li class="page_number" data-num="<%= i %>"><a> <%=i+1 %></a></li>
      <% end %>
      <li class="page_number" data-num="<%= pages -1 %>"><a >Última</a></li>
    <% else %>
      <% @users_t.count.times.each do |i|%>
        <li class="page_number" data-num="<%= i %>"><a> <%=i+1 %></a></li>
      <% end %>
    <% end %>
	</ul>
  <p class="page_showing"><!--Mostrando <%= 1 %> de <%= User.per_page%> resultados -->(<%=@users_t.count %> en total)</p>
</div>	