<div class="well">
	<div class="row">
		<div class="col-md-10">
			<h3><%= @user.name %> <%= @user.first_name %> <%= @user.last_name %></h3>
		</div>
		<div class="col-md-2">
			<%= link_to 'Regresar', :back, class: "btn btn-primary btn-large"%>
			<%= link_to 'Editar', edit_user_path(@user)+"?role=#{@user.role}", 
				class: 	"btn btn-default btn-large"%>
		</div>
	</div>
	<hr/>
	<input type="hidden" value="<%=@user.id %>" id="show_user_id"></input>
	<div class="row">
		<div class="col-md-4">
			<% if !@user.image.exists?%>
				<%= image_tag "default.jpg" %>
			<%else%>
				<%= image_tag @user.image.url(:medium) %>
			<% end %>
			
			
		</div>
		<div class="col-md-3">
			<dl>
				<%if not @user.bird.nil?%>
					<dt>Fecha de Nacimiento:</dt> 
					<dd><%= @user.bird.strftime "%m/%d/%Y" %></dd>
				<%end%>
				<dt>Edad:</dt> 
				<dd><%= @user.age.to_i %></dd>
				<dt>Sexo: </dt>
				<dd><%= @user.gender %></dd>
				<dt>Email:</dt>
				<dd><a href="mailto:<%= @user.email %>"><%= @user.email %></a></dd>
				<dt>Teléfono:</dt>
				<dd><%= @user.phone if @user.phone != "0" %></dd>
				<dt>Celular:</dt>
				<dd><%= @user.cellphone if @user.cellphone != "0" %></dd>
			</dl>
			<a class="btn btn-social btn-twitter" href="<%= @user.tw %>">
		    <i class="fa fa-twitter"></i> Twitter
		  </a>
		  <a class="btn btn-social btn-facebook" href="<%= @user.fb %>">
		    <i class="fa fa-facebook"></i> Facebook
		  </a>
		</div>
		<div class="col-md-3">
			<dl>
				<dt>RNM:</dt>
				<dd><%= @user.rnm %></dd>

				<dt>Clave del IFE:</dt> 
				<dd><%= @user.ife_key %></dd>

				<%if not @user.register_date.nil?%>
					<dt>Fecha de Registro:</dt> 
					<dd><%= @user.register_date.strftime "%m/%d/%Y" %></dd>
				<%end%>
				<dt>Nivel Jerárquico:</dt>
				<dd><%= @user.role %></dd>
			</dl>
				<dl>
						
						<dt> SubEnlace </dt>
						<dd>
							<% if !@user.subenlace_id.nil? && @user.subenlace_id != 0 %>
						 		<%= link_to User.find(@user.subenlace_id).full_name, User.find(@user.subenlace_id), 
							 		:target => '_blank' %>
						 	<% else %> 
							 	No tiene asignado subenlace
						</dd>
						<%end%>
  					<dt> Enlace </dt>
  					<dd>
  						<%if !@user.enlace_id.nil? && @user.enlace_id != 0%> 
	  						<%= link_to User.find(@user.enlace_id).full_name,User.find(@user.enlace_id), 
	  						:target =>'_blank' %>
  						<% else %> 
  							No tiene asignado enlace
  						<% end %>
  					</dd>
						<dt> Coordinador </dt>
						<dd>
							<%if !@user.coordinador_id.nil? && @user.coordinador_id != 0 %> 
								<%= link_to User.find(@user.coordinador_id).full_name, User.find(@user.coordinador_id),
								:target =>'_blank' %>
							<% else %> 
								No tiene asignado coordinador 
							<% end %>
						</dd>
				</dl>
		</div>
		<div class="col-md-2">
			<dl>
				<dt>DtoFed:</dt>
				<%= @user.dto_fed.to_i %>
				
				<dt>DtoLoc:</dt>
				<%= @user.dto_loc.to_i %>
				
				<dt>Seccion:</dt>
				<%= @user.section.to_i %>
				
				<dt>Sector:</dt>
				<%= @user.sector.to_i if !@user.sector.blank? %>
				
				<dt>Código Postal:</dt>
				<%= @user.zipcode.to_i if !@user.zipcode.blank?%>
				
				<dt>Calle:</dt>
				<%= @user.street_number %>
				
				<dt>Número Exterior:</dt>
				<%= @user.outside_number.to_i if !@user.outside_number.blank? %>
				
				<dt>Número Interior:</dt>
				<%= @user.internal_number.to_i if !@user.internal_number.blank? %>
				
				<dt>Colonia: </dt>
				<%= @user.neighborhood %>
				
				<dt>Municipio:</dt>
				<%= @user.municipality.name if !@user.municipality_id.blank? %>
			</dl>
		</div>
	</div>
	</hr>
	<h3>Documentos Adjuntos</h3>
	<div class="row">
		<div class="col-md-6">
			<% @user.documents.each do |document|%>
				<strong><%=document.description%></strong>:
				<%= link_to 'Descargar Archivo', document.doc.url %> </br>
			<% end %>
		</div>
	</div>
</div>
<hr />
<div>
	<div class="row">
		<%if @subordinados && !@subordinados.empty?%>

			<div class="row">
				<div class="col-md-6">
					<%= form_tag import_users_path(params[:id]), multipart:true do %>
			      <%= file_field_tag :file %>
			      <%= hidden_field_tag :id,  params[:id] %>
			      <%= hidden_field_tag :cuenta_empresa_id, params[:cuenta_empresa_id] %>
			      <%= hidden_field_tag :month, params[:month]  %>
			      <%= hidden_field_tag :year, params[:year]  %>
			      <%= submit_tag "+Importar", class: "btn btn-small btn-primary" %>
			    <% end %>
				</div>
				<div class="col-md-6">
					<%= link_to 'Descargar', downloads_subordinados_path(:id => @user.id, 
					:role => @user.role), class: "btn btn-success btn-block"%>
				</div>

			</div>
			<hr />
				<center><p style="font-size:18px">
			    <strong id="total_result">
			      <%= @subordinados.count %> 
			    </strong>
			    en total
			  </p></center>
			</div>	
			<table class="table table-bordered table-striped table-hover"
			 id="users_table" style="margin-top:10px;">  
	      <thead>
	      	<tr>
	      		<th></th>
	      		<th></th>
	      		<th></th>
	      		<th></th>
	      		<th></th>
	      		<th></th>
	      		<th></th>
	      		<th></th>
	      		<th>
	      			<select class="filtro_role search4"  style="width:100%" name="role_select">
		            <option value="0"></option>
		            <% @roles.each do |role| %>
		              <option value="<%= role[0] %>"> 
		                <%= role[1] %>
		              </option>
		            <%end%>
		          </select>
		          <input type="hidden" class="search4" value="<%=@user.role%>" name="usuario_role"/>
		          <input type="hidden" class="search4" value="<%=@user.id%>" name="usuario_id"/>
	      		</th>
	      	</tr>
	        <tr>
			      <th >
			        <p class="small">Nombre</p>
			      </th>
			      <th >
			        <p class="small">Paterno</p>
			      </th>
			      <th >
			        <p class="small">Materno</p>
			      </th>
			      <th>
			        <p class="small">Sexo</p>
			      </th>
			      <th>
			        <p class="small">Edad</p>
			      </th>
			      <th>
			        <p class="small">Sección</p>
			      </th>
			      <th>
			        <p class="small">Municipio</p>
			      </th>
			      <th>
			        <p class="small">Colonia</p>
			      </th>	
			      <th>
			        <p class="small">Rol</p>
			      </th>		     	      
			    </tr>
	    	</thead>
	    	<tbody>
	        <% @subordinados.each do |s| %>
		        <tr>
	            <td>
	              <p class="small"><%=s.name%></p>
	            </td>
	            <td>
	              <p class="small"><%= s.first_name%></p>
	            </td>
	            <td>
	              <p class="small"><%= s.last_name %></p>
	            </td>
	            <td>
	              <p class="small"><%= s.age %></p>
	            </td>
	            <td>
	              <p class="small"><%= s.section.to_i %></p>
	            </td>
	            <td>
	              <p class="small"><%= s.city %></p>
	            </td>
	            <td>
	            	<p class="small"><%= s.city %></p>
	            </td>
	            <td>
	            	<p class="small"><%= s.city %></p>
	            </td>
	            <td>
	            	<p class="small"><%= s.role %></p>
	            </td>
	          </tr>
	        <% end %>
	      </tbody>
	  	</table>
  	<%end%>
	</div>
</div>
<hr />
<div class="row">
	<div class="col-md-12">
		<div id="containerMapas" style="width:100%;height:380px;overflow:hidden;">
		</div>
	</div>
</div>
<hr />
<script type="text/javascript">
	window.uid = "<%= params[:id] %>";
</script>