<%= form_for(@militant) do |f| %>
  <% if @militant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@militant.errors.count, "error") %> prohibited this militant from being saved:</h2>

      <ul>
      <% @militant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label 'Fecha de Registro' %><br>
    <%= f.date_select :register_date, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label 'Apellido Paterno' %><br>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label 'Apellido Materno' %><br>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label 'Nombre' %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label 'Fecha de Nacimiento' %><br>
    <%= f.datetime_select :bird, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label 'RNM' %><br>
    <%= f.text_field :rnm, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label 'Enlace' %><br>
    <%= f.text_field :linking, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label 'SubEnlace' %><br>
    <%= f.text_field :sub_linking, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label 'Grupo' %><br>
    <%= f.text_field :group_id, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label 'Colonia' %><br>
    <%= f.text_field :suburb, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label 'Sección' %><br>
    <%= f.text_field :section, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label 'Sector' %><br>
    <%= f.text_field :sector , class: "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label 'Código Postal' %><br>
    <%= f.text_field :cp, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label 'Telefono' %><br>
    <%= f.text_field :phone, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label 'Celular' %><br>
    <%= f.text_field :cellphone, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label 'Correo Electrónico' %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit 'Agregar', :class=>"btn btn-primary" %>
  </div>
<% end %>
