<table class="table">
  <thead>
    <tr>
      <th>Fecha de Ingreso</th>
      <th>Apellido Paterno</th>
      <th>Apellido Materno</th>
      <th>Nombre</th>
      <th>Fecha de Nacimiento</th>
      <th>RNM</th>
      <th>Enlcace</th>
      <th>Subenlace</th>
      <th>Grupo</th>
      <th>Colonia</th>
      <th>Sección</th>
      <th>Sector</th>
      <th>CP</th>
      <th>Telefono</th>
      <th>Celular</th>
      <th>Correo Electónico</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @militants.each do |militant| %>
      <tr>
        <td><%= militant.register_date %></td>
        <td><%= militant.first_name %></td>
        <td><%= militant.last_name %></td>
        <td><%= militant.name %></td>
        <td><%= militant.bird %></td>
        <td><%= militant.rnm %></td>
        <td><%= militant.linking %></td>
        <td><%= militant.sub_linking %></td>
        <td><%= militant.group_id %></td>
        <td><%= militant.suburb %></td>
        <td><%= militant.section %></td>
        <td><%= militant.sector %></td>
        <td><%= militant.cp %></td>
        <td><%= militant.phone %></td>
        <td><%= militant.cellphone %></td>
        <td><%= militant.email %></td>
        <td>
          <%= link_to 'Editar', edit_militant_path(militant) %>
          <%= link_to 'Eliminar', militant, method: :delete, data: { confirm: '¿Está seguro que desea eliminar?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar Militante', new_militant_path, :class => 'btn btn-success' %>
