<p id="notice"><%= notice %></p>

<p>
  <strong>Register date:</strong>
  <%= @militant.register_date %>
</p>

<p>
  <strong>First name:</strong>
  <%= @militant.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @militant.last_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @militant.name %>
</p>

<p>
  <strong>Bird:</strong>
  <%= @militant.bird %>
</p>

<p>
  <strong>Rnm:</strong>
  <%= @militant.rnm %>
</p>

<p>
  <strong>Linking:</strong>
  <%= @militant.linking %>
</p>

<p>
  <strong>Sub linking:</strong>
  <%= @militant.sub_linking %>
</p>

<p>
  <strong>Group:</strong>
  <%= @militant.group_id %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @militant.suburb %>
</p>

<p>
  <strong>Section:</strong>
  <%= @militant.section %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @militant.sector %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @militant.cp %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @militant.phone %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @militant.cellphone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @militant.email %>
</p>

<%= link_to 'Edit', edit_militant_path(@militant) %> |
<%= link_to 'Back', militants_path %>
