<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Sex</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.name %></td>
        <td><%= candidate.age %></td>
        <td><%= candidate.sex %></td>
        <td>
          <%= link_to 'Editar', edit_candidate_path(candidate), :class=> 'btn btn-primary' %><%= link_to 'Eliminar', candidate, method: :delete, data: { confirm: '¿Está seguro que desea eliminar?' } , :class=> 'btn btn-danger'%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar Candidato', new_candidate_path, :class=>"btn btn-success" %>
