<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @candidate.name %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @candidate.age %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @candidate.gender %>
</p>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
