<p>
  <strong>Nombre:</strong>
  <%= @candidate.name %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @candidate.age %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @candidate.gender %>
</p>

<%= link_to 'Editar', edit_candidate_path(@candidate), :class=>"btn btn-primary" %> 
<%= link_to 'Regresar', candidates_path, :class=>"btn btn-primary" %>
