<h1>Listing votes</h1>

<table class="table table-hover table-striped table-bordered">
  <thead>
    <tr>
      <th>Candidato</th>
      <th>Jugador</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @votes.each do |vote| %>
      <tr>
        <td><%= vote.candidate.name %></td>
        <td><%= vote.user_id %></td>
        <td class="center"><%= link_to vote, :class=> 'table-action' do%><span class="glyphicon glyphicon-eye-open"></span><%end%></td>
        <td class="center">
            <%= link_to edit_vote_path(vote), :class=> 'table-action' do%><span class="glyphicon glyphicon-pencil"></span><%end%>
        </td>
        <td class="center">
        	<%= link_to vote, method: :delete, data: { confirm: '¿Está seguro que desea eliminar?' } , :class=> 'table-action' do%><span class="glyphicon glyphicon-remove"></span><% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vote', new_vote_path %>
