<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
      <!-- 
      <%= image_tag("http://www.tusdiputados.com/images/logo_pan.png", :class =>"brand " ) %> -->
      PAN
    </a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <% if !user_signed_in? %> 
      <li><%= link_to "IniciarSesión", new_user_session_path%></li> 
      <% else %>
        <li><%= link_to "Grupos", groups_path %></li> 
        <li><%= link_to "Militantes", militants_path %></li> 
        <li><%= link_to "Candidatos", candidates_path %></li>
        <li><%= link_to "Cerrar Sesión", destroy_user_session_path, :method => 'delete' %></li> 
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>